@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue: #a2cef0;
  --darkerBlue: #719cbd;
  --blueGreen: #58afa5;
}

@theme {
  --color-brand-100: var(--blue);
  --color-brand-200: var(--blueGreen);
}

.row {
  @apply max-w-7xl mx-auto;
}

.container {
  @apply mx-auto;
}

body {
  @apply bg-gradient-to-bl from-[#a2cef0] via-[#719cbd] to-[#58afa5];
}
